nav(class="navbar is-light is-fixed-top", role="navigation", aria-label="main navigation")
  .navbar-brand
    a(class="navbar-item", href="/")
      !=logo
      img(src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28")
  .navbar-menu
    .navbar-start
      a.navbar-item(href="/", style='text-decoration:none;') Accueil
      a.navbar-item(href="/memos/", style='text-decoration:none;') Sommaire
      a.navbar-item(href="/memos/add", style='text-decoration:none;') Ajouter un mémo
