extends layout
include includes/forms.pug

block content
  .section#FirstSection
    .container
      h1.title Ajouter un mémo
      h2.subtitle Un mémo est un fichier markdown contenant le mémo. L'image doit décrire visuellement le sujet du mémo. 
      .columns
        .column.is-6
          form(action="add", method="POST", enctype="multipart/form-data")
            +fileField("memo-image", "image du mémo")
            +fileField("memo-file", "fichier markdown du mémo")
            +submitButton("Ajouter")
