extends layout

block content
  div.hero.is-info.is-bold.padded-hero#FirstSection
    .hero-body
      h1.title.is-1 Serveur de fichier Markdown
      .subtitle Votre serveur de fichiers markdown, pratique pour partager des mémos, des recettes, des rapports et plus encore !
