extends layout
include includes/forms.pug

block content
    .section#FirstSection
        .columns
            .column.is-4
            .column.is-4
                form(action="login" method="post")
                    +inputField("username", "nom d'utilisateur", "fa-sign-in-alt", "text")
                    +inputField("password", "mot de passe", "fa-sign-in-alt", "password")
                    +submitButton("Se connecter")
